.department_container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.add_department {
  background-color: var(--secondary);
  max-width: 400px;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.add_department form {
  display: flex;
  flex-direction: column;

  min-height: 150px;
}
.add_department input {
  padding: 5px;
}
.add_department label {
  font-weight: bold;
  font-size: 20px;
  color: var(--text);
}
.add_department button {
  background-color: var(--primary);
  color: var(--background);
  border: none;
  box-shadow: var(--shadow);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out;
  margin-top: auto;
  margin-bottom: 10px;
  max-width: 150px;
  margin-left: auto;
  color: white;
}

.department_card {
  background-color: var(--secondary);
  min-height: 100px;
  padding: 2rem;
  box-shadow: var(--shadow);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: ease-in-out 500ms;
}
.department_card .row {
  gap: 2rem;
  align-items: baseline;
  display: flex;
  align-items: baseline;
}

.open_button {
  background-color: var(--primary);
  color: var(--background);
  border: none;
  box-shadow: var(--shadow);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out;
}
.open_button:hover {
  background-color: var(--primary-hover);
}
.hidden {
  height: 0;
  overflow: hidden;
}
.department_table {
  transition: ease-in-out 500ms;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.delete_button {
  margin-left: auto;
  background-color: var(--danger);
  padding: 5px;
  font-size: bold;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.575);
  cursor: pointer;
  display: flex;
  justify-content: baseline;
}
.delete_button:hover {
  background-color: var(--danger-hover);
}
.delete_button span {
  color: white;
}
.delete_container {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-25%);
  box-shadow: var(--shadow);
  background-color: var(--secondary);
  transition: ease-in-out 50ms;
  height: 150px;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
}
.delete_container h3 {
  color: var(--text);
}
.delete_button_row {
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: 10px;
  gap: 20px;
}
.delete_button_row button {
  padding: 5px 20px;
  width: 100%;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.534);
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.delete_button_row:first-child {
  background-color: var(--accent);
}

.cancel_button {
  background-color: var(--accent);
}
.cancel_button:hover {
  background-color: #2f7711;
}
